body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

.container {
  max-width: 1450px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: 33.33%;
}

.col-25 {
  width: 25%;
}

.col-20 {
  width: 20%;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #053b44;
}

.bg-blue-dark {
  background-color: #02111f;
}

.text-white {
  color: white;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mt-40 {
  margin-top: 40px;
}


/* menu */
h1 {
  font-size: 30px;
  color: #029d5b;
}

h1 span {
  font-style: italic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

#icons {
  cursor: pointer;
  display: none;
}

a:hover {
  border: 1px solid #029d5b;
  padding: 40px;
  background-color: #029d5b;
  color: white;
}


/* Banner */
.img-banner {
  display: block;
  width: 100%;
}

.text-banner {
  text-align: end;
  color: white;
  font-size: 60px;
  margin-top: -300px;
}

.text-banner span {
  color: yellow;
  font-size: 70px;
}

/* teams */
#teams {
  margin-top: 200px;
  color: #029d5b;
  font-size: 20px;
}

h4 {
  color: black;
}

p {
  color: black;
}

.team-image {
  margin: 50px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/*chiffre*/
#temoignages {
  color: #D5F31F;
  padding: 30px;
  font-weight: bold;
}

.temoignages {
  background-size: 50%;
}


/*services*/
#services {
  padding: 70px;
  color: #029d5b;
  font-size: 20px;

  .col-50 {
    color: black;
  }
}

.services {
  padding: 100px;
  border-radius: 20%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.creation {
  h5{
    color: black;
  }
  border: 1px solid rgb(231, 228, 228);
  padding: 100px;
  background-color: rgb(231, 228, 228);
  border-radius: 50px;
}

.audit {
  border: 1px solid rgb(231, 228, 228);
  padding: 100px;
  background-color: rgb(231, 228, 228);
  border-radius: 50px;
}


/*contact*/
#contact {
  color: #D5F31F;
  padding: 70px;
  font-size: 20px;

  p {
    color: white;
  }
}

.form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: white 3px solid;
  color: white;
}

.form-control:focus {
  outline: none;
}

form .pied-formulaire button {
  color: #053b44;
  margin-top: 100px;
  border: none;
  background-color: #D5F31F;
  border-radius: 50px;
  padding: 20px 60px;
  font-size: large;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
  
}

form .pied-formulaire button:hover {
  transform: scale(1.05);
}
.pied-formulaire{
  justify-content: right;
  text-align: right;
}

/*galerie*/

.img-cadre img{
   width: 90%;
   border-radius: 20px;
}
.cardre-right{
  width: 90%;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.float-right{
  float:  right;
  height: 100%;
}
.cadre-icon{
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 20px;
  margin: auto;
}
.align-str{
  align-items: stretch;
}
.icons{
  width: 99%;
}

#notre_galerie {
  color: #029d5b;
  font-size: 20px;
  margin: 10px;
}

.ordinateur {
  display: flex;
  margin: 100px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
}

.chevron-left,
.chevron-right {
  width: 25px;
  height: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  padding-bottom: 15px;
}

.chevron-right {
  margin-left: -500px;
}

.chevron-left i {
  margin-left: -3px;
}

.chevron-right {
  margin-left: auto;
}

.chevron-left:hover,
.chevron-right:hover {
  background-color: black;
  color: wheat;
}



/*bas de page*/
.bas_de_page {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 50px;

  p {
    color: white;
    font-weight: 300;
  }
h5 {
  font-size: large;
  font-weight: 500;
  color: white;
}
}





.numero {
  margin-top: 30px;
}

.fa-phone,
.fa-map-marker {
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-left: -110px;
  font-size: 20px;
  color: #D5F31F;
}


/*fin de page*/
.copyright{
  color: white;
  margin-left: 30px;
}
.float{
  float: right;
  display: flex;
  height: 100%;
}
.cercle i {
  color:white;
}
.align-icons{
  align-items: center;
  text-align: end;
  justify-content: right;
  margin-top: 10px;
}
.cercle{
  margin-left: 30px;
  border: 3px solid white;
  border-radius: 20%;
  padding: 8px;
  display: flex;
}

/*media queries*/

@media screen and (max-width:1200px) {

  .col-md-100 {
    width: 100%;
  }

  .col-md-50 {
    width: 50%;
  }

  .col-md-33 {
    width: 33.33%;
  }

  .col-md-25 {
    width: 25%;
  }

  .col-md-20 {
    width: 20%;
  }

  .col-sm-100 {
    width: 100%;
  }

  .col-sm-50 {
    width: 50%;
  }

  .col-sm-33 {
    width: 33.33%;
  }

  .col-sm-25 {
    width: 25%;
  }

  .col-sm-20 {
    width: 20%;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }

}

@media screen and (max-width:768px) {
  .container {
    flex-direction: column;
  }

  .img-banner {
    display: flex;
    width: 100%;
  }

  .text-banner {
    font-size: 45px;
    margin-top: -200px;
  }

  .text-banner span {
    font-size: 45px;
  }

  a:hover {
    border: 1px solid #029d5b;
    background-color: #029d5b;
    padding: none;
  }
}
.img-cadre img{
  width: 90%;
  border-radius: 20px;
  display: flex;
  margin: auto;
}
.float-right{
  float: none;
  height: 100%;
}
.cardre-right{
  width: 90%;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#notre_galerie {
  margin: 150px;
}


.fin-page {
  display: flex;
  font-size: large;
  font-weight: 50;
  color: white;
}


@media (max-width: 768px) {
  #icons {
    display: block;
  }

  #icons:before {
    content: "\2630";
  }

  .active #icons:before {
    content: "\2715";
  }

  nav ul {
    width: 100%;
    position: fixed;
    left: -110%;
    top: 6.5%;
    flex-direction: column;
    background: white;
    text-align: center;
    transition: 0.25s;
  }

  nav li {
    padding: 3px 0;
  }

  nav li:hover {
    background: #029d5b;
  }

  nav.active ul {
    left: 0;
  }
  .img-banner {
    display: flex;
    width: 100%;
  }

  .text-banner {
    font-size: 45px;
    margin-top: -200px;
  }

  .text-banner span {
    font-size: 45px;
  }

  a:hover {
    border: 1px solid #029d5b;
    background-color: #029d5b;
    padding: none;
  }

  .container {
    flex-direction: column;
  }

  .col-md-100 {
    width: 100%;
  }

  .col-md-50 {
    width: 50%;
  }

  .col-md-33 {
    width: 33.33%;
  }

  .col-md-25 {
    width: 25%;
  }

  .col-md-20 {
    width: 20%;
  }

  .col-sm-100 {
    width: 100%;
  }

  .col-sm-50 {
    width: 50%;
  }

  .col-sm-33 {
    width: 33.33%;
  }

  .col-sm-25 {
    width: 25%;
  }

  .col-sm-20 {
    width: 20%;
  }
}
@media (max-width: 430px) {
 
  .img-banner {
    display: flex;
    width: 100%;
  }

  .text-banner {
    font-size: 45px;
    margin-top: -200px;
  }

  .text-banner span {
    font-size: 45px;
  }

  a:hover {
    border: 1px solid #029d5b;
    background-color: #029d5b;
    padding: none;
  } #icons {
    display: block;
  }

  #icons:before {
    content: "\2630";
  }

  .active #icons:before {
    content: "\2715";
  }

  nav ul {
    width: 100%;
    position: fixed;
    left: -110%;
    top: 6.5%;
    flex-direction: column;
    background: white;
    text-align: center;
    transition: 0.25s;
  }

  nav li {
    padding: 3px 0;
  }

  nav li:hover {
    background: #029d5b;
  }

  nav.active ul {
    left: 0;
  }

  .container {
    flex-direction: column;
  }
  #services {
    padding: 10%;
    color: #029d5b;
    font-size: 20px;
  
    .col-50 {
      color: black;
    }
  }
  .services {
    padding: 100px;
    border-radius: 20%;
    width: 300px;
    height: 300px;
    
  }
  
  .creation {
    h5{
      color: black;
    }
    border: 1px solid rgb(231, 228, 228);
    padding: 100px;
    background-color: rgb(231, 228, 228);
    border-radius: 50px;
  }
  
  .audit {
    border: 1px solid rgb(231, 228, 228);
    padding: 100px;
    background-color: rgb(231, 228, 228);
    border-radius: 50px;
  }
}
